.card {
    background: var(--dm-card-bg-color);
    color: var(--dm-texts-color);
    width: 600px;
    margin: 20px auto 0;
    box-shadow: 0 0 20px 1px #ebebeb;
}
.card.dark {
    background: var(--dm-card-bg-color);
    color: var(--dm-texts-color);
    width: 600px;
    margin: 20px auto 0;
    box-shadow: none;
}
.image-container {
    width: 100%;
    background: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.card-content {
    margin: 25px 0;
}
.sub-post {
    display: flex;
    justify-content: space-between;
}
.left-buttons .post-button{
    margin-right: 10px;
}
.right-buttons .post-button{
    margin-left: 10px;
}
.post-button {
    min-width: 50px;
    background-color: var(--dm-buttons-color);
    border: 1px solid var(--dm-buttons-color);
}
.post-link {
    padding: 7px 12px 8px;
    background-color: var(--dm-buttons-color);
    border: 1px solid var(--dm-buttons-color);
    vertical-align: middle;
    border-radius: .25rem;
}
.post-link:hover, .post-button:hover {
    color: inherit;
    background-color: var(--dm-buttons-shadow-color);
    border-color: var(--dm-buttons-shadow-color);
}
.post-card p {
    font-size: 14px;
}
.image-container {
    /* min-height: 500px; */
    max-height: 600px;
    max-width: 600px;
}
img {
    max-width: calc(600px - 2*17px );
    object-fit: contain;
}
.profile-pic-container.medium-pic img {
    width: 40px;
    margin-right: 20px;
}
#all-posts #profile-header .h5 {
    font-size: 1em;
    font-weight: 400;;
}