.card {
    background: var(--dm-card-bg-color);
    color: var(--dm-texts-color);
    width: 600px;
    margin: 20px auto 0;
    box-shadow: 0 0 20px 1px #ebebeb;
    border: none;
}
.card-body {
    padding: 1rem 1rem;
}
.card.dark {
    background: var(--dm-card-bg-color);
    color: var(--dm-texts-color);
    width: 600px;
    margin: 20px auto 0;
    box-shadow: none;
}
.image-container {
    width: 100%;
    background: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.card-header {
    padding-bottom: 0;
    background-color: inherit;
    border-bottom: none;
}
.card-content {
    margin: 10px 0 25px;
}
.sub-post {
    display: flex;
    justify-content: space-between;
}
.left-buttons .post-button{
    margin-right: 10px;
}
.right-buttons .post-button{
    margin-left: 10px;
}
.right-buttons .post-button img{
    margin-right: 0;
}
.post-button {
    min-width: 50px;
    background-color: var(--dm-buttons-color);
    border: 1px solid var(--dm-buttons-color);
}
.post-link {
    padding: 7px 12px 8px;
    background-color: var(--dm-buttons-color);
    border: 1px solid var(--dm-buttons-color);
    vertical-align: middle;
    border-radius: .25rem;
    color: white;
}
.post-link:hover, .post-button:hover {
    color: white;
    background-color: var(--dm-buttons-shadow-color);
    border-color: var(--dm-buttons-shadow-color);
}
.post-card p {
    font-size: 18px;
}
.image-container {
    max-height: 600px;
    max-width: 600px;
}
img {
    max-width: calc(600px - 2*16px );
    object-fit: contain;
}
.profile-pic-container.medium-pic img {
    width: 40px;
    margin-right: 20px;
}
#all-posts #profile-header .h5 {
    font-size: 1em;
    font-weight: 400;
}
.button-logo{
    width: 18px;
    filter: invert(1);
    margin-right: 10px;
}
.button-logo.bigger-logo {
    width: 22px;
}
.card-title {
    display: flex;
    width: 100%;
}
time {
    font-size: 12px;
    color: grey;
    margin-left: auto;
}
.red {
    background-color: var(--dm-delete-color);
    border-color: var(--dm-delete-color);
}
button.post-button.red:hover {
    background-color: var(--dm-delete-darker-color);
    border-color: var(--dm-delete-darker-color);
}