#profile-card .card-title{
    margin-left: 20px;;
}
#profile-card .card-title {
    font-size: 32px;
}
#profile-card .card-title p {
    margin: 5px 0 0 5px;
    font-size: 15px !important;
    font-weight: normal;
}
#profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.profile-pic-container img {
    width: 80px;
    /* height: 80px; */
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}
.profile-buttons {
    display: flex;
    justify-content: space-between;
}
.profile-block {
    display: flex;
    flex-direction: column;
}
.admin-tag {
    font-size: 15px;
}