:root {
	--dm-bg-color : rgb(235, 235, 235);
	--dm-card-bg-color: rgb(255, 255, 255);
	--dm-buttons-color: #c98f8f;
	--dm-buttons-shadow-color: #aa7373;
	--dm-texts-color: rgb(0, 0, 0);
	--dm-delete-color: rgb(218, 0, 0);
	--dm-delete-darker-color: rgb(173, 0, 0);
}

.dark-theme {
	--dm-bg-color : black;
	--dm-card-bg-color: rgb(27, 27, 27);
	--dm-buttons-color: #501c94;
	--dm-buttons-shadow-color: #44197c;
	--dm-texts-color: white;
	--dm-border-color: rgb(54, 54, 54);
	--dm-delete-color: rgb(131, 0, 0);
	--dm-delete-darker-color: rgb(85, 0, 0);
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover, button:hover {
    color: grey;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#App {
    min-height: 100vh;
    background: var(--dm-bg-color);
    padding: 100px 0;
}